{% extends 'base.html' %}

{% block title %}
    Polls : หน้าหลัก
{% endblock title %}

{% block content %}
    <div class="jumbotron">
            <h1 class="display-4">ยินดีต้อนรับ ระบบแบบสอบถามออนไลน์!</h1>
            <p class="lead">ท่านสามารถสมัครสมาชิก เพื่อสร้างแบบสอบถามได้ หรือ โหวตในหัวข้อที่ท่านต้องการ.</p>
            <hr class="my-4">
            <p>สามารถโหวตได้ทั้งสมาชิกและผู้ใช้งานทั่วไป.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <i class="fas fa-poll" style="color: #28a745;"></i> แบบสอบถาม
                    <small class="text-muted">แบบสอบถามที่สร้างโดยสมาชิก.</small>
                </h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for q in questions %}
                    <h5 id="question_{{q.id}}">
                        <i class="fas fa-poll" style="color: #28a745;"></i> <a href="{% url 'polls:DetailView' question_id=q.id %}">{{q.name}}</a> 
                        <small class="font-italic">สร้างโดย :
                            <i class="fas fa-user"></i> {{q.created_by.first_name}} : {{q.created_at}}
                        </small>
                    </h5>
                {% endfor %}
            </div>
        </div>
{% endblock content %}