{% extends 'base.html' %}


{% block title %}
Accounts : รายละเอียดสมาชิก
{% endblock title %}


{% block content %}


{% if error or success %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-sm-12 col-md-6">
        <br/>
        <div class="alert 
        {% if error %}
            alert-danger 
        {% else %}
            alert-success
        {% endif %}
             alert-dismissible fade show" role="alert">
            
            {% if error %}
            <i class="fas fa-exclamation-circle"></i> {{error}}
            {% endif %}

            {% if success %}
                <i class="fas fa-check"></i> {{success}}
            {% endif %}
                
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>    
{% endif %}
    
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-sm-12 col-md-6"><br />
        <h1><i class="fas fa-user-shield" style="color: #17a2b8;"></i> รายละเอียดสมาชิก</h1>
        <hr />
        <form action="{% url 'accounts:InfoView' %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="info-firstname">ชื่อ :</label>
                    <input type="text" class="form-control" id="info-firstname" value="{{request.user.first_name}}" name="info-firstname" placeholder="ระบุชื่อผู้ใช้" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="info-lastname">นามสกุล</label>
                    <input type="text" class="form-control" id="info-lastname" value="{{request.user.last_name}}" name="info-lastname" placeholder="ระบุนามสกุล" required>
                </div>
            </div>
            <div class="form-group">
                <label for="info-username">Username :</label>
                <span id="info-username" name="info-username">{{request.user}}</span>
            </div>
            <div class="form-group">
                <label for="info-email">Email :</label>
                <span id="info-email" name="info-email">{{request.user.email}}</span>
            </div>
            <div class="form-group">
                <label for="info-isadmin">ประเภท :</label>
                {% if request.user.is_superuser == True %}
                    <span id="info-isadmin" name="info-isadmin">Administrator</span>
                {% else %}
                    <span id="info-isadmin" name="info-isadmin">สมาชิก</span>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i> อัพเดตข้อมูล
            </button>
            <a href="{% url 'polls:IndexView' %}" class="btn btn-info" role="button" aria-pressed="true">
                <i class="fas fa-home"></i> กลับไปที่หน้าหลัก
            </a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock content %}