{% extends 'base.html' %}

{% block title %}
    Accounts : สมัครสมาชิก
{% endblock title %}

{% block content %}
    {% if error %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-sm-12 col-md-6">
                <br/>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fas fa-exclamation-circle"></i> {{error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-sm-12 col-md-6">
            <h4 class="mt-1">สมัครสมาชิก</h4>
            <form action="{% url 'accounts:SignupView' %}"  method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">ชื่อผู้ใช้ : </label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="ระบุชื่อผู้ใช้งาน" required />
                </div>
                <div class="form-group">
                    <label for="email">Email : </label>
                    <input type="email"  class="form-control" name="email" id="email" placeholder="ระบุ Email" required />
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="first_name">ชื่อ : </label>
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="ระบุชื่อ" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="last_name">นามสกุล :</label>
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="ระบุนามสกุล" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">รหัสผ่าน : </label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="ระบุรหัสผ่าน" required />
                </div>
                <div class="form-group">
                    <label for="confirm_password">ยืนยันรหัสผ่าน : </label>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="ระบุยืนยันรหัสผ่าน" required />
                </div>
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-check"></i> ตกลง
                </button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock content %}